@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sideNav {
  background-color: #bd5d38 !important;
}

.navlink {
  color: rgba(255, 255, 255, 0.5);
}

.title {
  color: #343a40;
}

.subTitle {
  color: #bd5d38;
}

.address {
  color: #868e96;
}

.active-white {
  color: rgb(244 244 245);
}

.img-bdr {
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
